@import './base.css';

#app {
    /*margin: 0 auto;*/
    height: 100vh;
    min-height: 500px;
    padding: 2rem;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}